<!-- Pantalla de carga -->
<div id="loader" class="fixed inset-0 z-50 flex items-center justify-center bg-white">
  <div class="flex flex-col items-center gap-4">
    <div class="h-12 w-12 animate-spin rounded-full border-4 border-gray-300 border-t-red-600"></div>
    <p class="text-sm font-semibold text-gray-700">
      Cargando ticket...
    </p>
  </div>
</div>

<!-- Contenido -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-5 items-start">

  <!-- Ticket Info -->
  <div class="pt-4 p-6 space-y-3 border border-black/50 rounded">
    <h1 class="font-bold text-center">Informacion del ticket</h1>

    <div class="border-t-2 border-black/50  pt-2 flex gap-3">
      <span class="font-semibold">Vendedor:</span>
      <span class="italic">
        <%= ticket.nombre_empleado %>
      </span>
    </div>

    <div class="border-t-2 border-black/50  pt-2 flex gap-3">
      <span class="font-semibold">Fecha y hora de creacion:</span>
      <span class="italic">
        <%= ticket.fecha %>
      </span>
    </div>

    <div class="border-t-2 border-black/50 pt-2 flex gap-3">
      <span class="font-semibold">Folio:</span>
      <span class="italic">
        <%= ticket.folio %>
      </span>
    </div>

    <div class="border-t-2 border-black/50 pt-2 flex gap-3">
      <span class="font-semibold">Cliente:</span>
      <span class="italic">
        <%= ticket.nombre_cliente %>
      </span>
    </div>

    <div class="border-t-2 border-black/50 pt-2 flex gap-3">
      <span class="font-semibold">Método de pago:</span>
      <span class="italic">
        <%= ticket.metodo_pago.charAt(0).toUpperCase() + ticket.metodo_pago.slice(1).toLowerCase() %> <!-- Solo la incial con Mayuscula -->
      </span>
    </div>

    <% if (ticket.metodo_pago=="efectivo" ) { %>
      <div class="border-t-2 border-black/50 pt-2 flex gap-3">
        <span class="font-semibold">Efectivo recibido:</span>
        <span class="italic">$ <%= ticket.total_recibido %></span>
      </div>

      <div class="border-t-2 border-black/50 pt-2 flex gap-3">
        <span class="font-semibold">Cambio:</span>
        <span class="italic">$ <%= ticket.cambio %></span>
      </div>
      <% } %>

        <div class="border-t-2 border-black/50 pt-2 flex gap-3">
          <span class="font-semibold">Total:</span>
          <span class="italic font-bold">$ <%= ticket.total_pago %></span>
        </div>

        <!-- Tabla -->
        <div class="pt-4 overflow-x-auto">
          <table class="w-full table-auto border-collapse">
            <thead>
              <tr class="bg-gray-600 text-white">
                <th class="px-4 py-2">Nombre</th>
                <th class="px-4 py-2">Descripción</th>
                <th class="px-4 py-2">Precio Unit.</th>
                <th class="px-4 py-2">Cantidad</th>
                <th class="px-4 py-2">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <% ticket.productos.forEach(producto=> { %>
                <tr class="hover:bg-gray-100">
                  <td class="px-4 py-2">
                    <%= producto.nombre %>
                  </td>
                  <td class="px-4 py-2 italic">
                    <%= producto.descripcion == null ? "Sin Descripcion" : producto.descripcion %>
                  </td>
                  <td class="px-4 py-2">
                    $<%= producto.precio_unidad %>
                  </td>
                  <td class="px-4 py-2">
                    <%= producto.cantidad %>
                  </td>
                  <td class="px-4 py-2 font-bold">
                    $<%= producto.subtotal %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>

          <div class="flex justify-center border-t-2 border-black/50 mt-4">
            <button id="btnRegresar" class="mt-4 px-4 py-2 bg-[#FF2A00] text-white rounded hover:bg-[#FF2A00]/80">
              Regresar
            </button>
          </div>
        </div>

  </div>

  <!-- Preview -->
  <div class="pt-4 p-6 space-y-3 border border-black/50 rounded text-center">
    <h1 class="font-bold">Vista Previa</h1>

    <div class="flex justify-center">
      <%- include('../components/ticket', { ticket }) %>
    </div>

    <div class="flex justify-center gap-4">
      <button id="btnGenerarPDF" data-folio="<%= ticket.folio %>"
        class="mt-4 px-4 py-2 bg-[#FF2A00] text-white rounded hover:bg-[#FF2A00]/80">
        Descargar Ticket
      </button>

      <button class="mt-4 px-4 py-2 bg-[#FF2A00] text-white rounded hover:bg-[#FF2A00]/80">
        Imprimir Ticket
      </button>

      <button class="mt-4 px-4 py-2 bg-[#FF2A00] text-white rounded hover:bg-[#FF2A00]/80">
        Generar Factura
      </button>
    </div>

    <p class="mt-4 text-sm text-gray-600">
      Info de la empresa (usuario, contacto, logo)
    </p>
  </div>

</div>

<script src="/js/ticket-preview.js"></script>